.env
.env.local
__pycache__/
*.py[cod]
*$py.class
.vscode/*
!.vscode/tasks.json
back/.vscode/*
.DS_Store

data
!front/package.json
!front/package-lock.json
!front/.prettierrc.json
!front/tsconfig.json
*.ipynb
*.dump