default_stages: [pre-commit]
fail_fast: false
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^back/
      - id: ruff-format
        files: ^back/
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.17.0
    hooks:
      - id: eslint
        files: ^front/.*\.[jt]sx?$
        types: [file]
        args: [--fix]
        additional_dependencies:
          - eslint@9.17.0
          - eslint-config-next@15.1.8
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^front/
        types_or: [javascript, jsx, ts, tsx, json, css]

