default_stages: [pre-commit]
fail_fast: true
repos:
  - repo: local
    hooks:
    - id: ruff
      name: Linting Python (ruff)
      types: [python]
      entry: bash -c 'ruff check back/'
      language: system
      pass_filenames: false
    - id: eslint
      name: Linting Front (ESLint)
      types_or: [javascript, jsx, ts, tsx]
      entry: bash -c 'cd front && npm run lint'
      language: system
      pass_filenames: false
    - id: prettier
      name: Formatting Front (Prettier)
      types_or: [javascript, jsx, ts, tsx, json, css]
      entry: bash -c 'cd front && npm run format:check'
      language: system
      pass_filenames: false

