name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
      - name: Enable Auto-Merge on Release PR
        if: ${{ steps.release.outputs.pr }}
        uses: peter-evans/enable-pull-request-auto-merge@v3
        with:
          # Le jeton d'authentification. Le GITHUB_TOKEN par défaut suffit si 'pull-requests: write' est défini.
          token: ${{ secrets.GITHUB_TOKEN }}
          # Le numéro de la PR est donné par la sortie de l'étape 'release-please-action'
          pull-request-number: ${{ steps.release.outputs.pr }}
          # Spécifie la méthode de fusion (Squash and merge, la méthode par défaut de release-please)
          merge-method: squash
