name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
      - name: Merge Release PR
        if: ${{ steps.release.outputs.prs_created == 'true' }}
        run: gh pr merge --squash "${{ fromJSON(steps.release.outputs.pr).number }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
